<launch>
    <node name="gmapping" pkg="gmapping" type="slam_gmapping" respawn="false" output="screen">
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom"/> 
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find Warehouse_simulation)/config/mapping.rviz" required="true"/>
</launch>
