<launch>


  <arg name="world_file" default="$(find Warehouse_simulation)/world/Warehouse_1.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
<include file="$(find Warehouse_simulation)/launch/mapping.launch"/>


  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="x" value="1.8"/>
    <arg name="y" value="9.3"/>
    <arg name="z" value="0.25"/>
    <arg name="yaw" value="-1.6"/>



  </include>






</launch>

